
.theme{
  transition: 1s all ease;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.light{
  background-color: white;
  color: black;
}

.dark{
  background-color: rgb(67, 63, 63);
  color: white;
}

.comment-section , .share-section {
  position: fixed;
  bottom: -100%; /* Start hidden below the screen */
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: bottom 0.3s ease-in-out;
  z-index: 1000;
  background-color: rgb(67, 63, 63);
  color: white;
}


.comment-section.active , .share-section.active {
  bottom: 0; 
}

.comment-section-header , .share-section-header{
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* Define the track (the gray area where the thumb moves) */
::-webkit-scrollbar {
  width: 12px; /* You can adjust the width as needed */
}

/* Define the thumb (the moving part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Rounded corners */
}

/* Define the track on which the thumb moves */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* On hover, style the thumb and track */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* You can add more styling, such as transition effects, as per your design preferences. */

.no-scroll{
  overflow: hidden;
}
